<table class="contact-answers">
{% for field in form.get_fields(exclude=exclude) %}
<tr>
  <td class="question-row">
    <div class="question-title">{{ field.label.text|safe }}</div>

    <div class="question-container">
      <ul>

      {% for survey in surveys %}

        {% set value = survey[field.name] %}
        {% if value|is_not_empty %}
          <li class="lirow {% if loop.last %}lirowlast{% endif %} {% if loop.first %}lirowfirst{% endif %}">
            {% if field.name in ('part1_files', 'assessment_subnational_files',
              'assessment_subnational_files', 'action_plan_files',
              'part2_files', 'part3_files', 'part4_files') %}
              <ul>
              {% for file in value %}
                <li>
                  <a href="{{ url_for('static', filename='files/' ~ file) }}">
                    {{ file }}</a>
                </li>
              {% endfor %}
              </ul>
            {% else %}
              {{ value|pretty|safe }}
            {% endif %}
            <span class="user">by
              {% if groupby == 'user' %}{{ survey.user.name  }}{% endif %}
              {% if groupby == 'country' -%}
                <a href="{{ url_for('survey.report', survey_id=survey.id) }}"
                   target="_blank">{{ survey.country_verbose }}</a>
                {% if field.name == 'lead_organisation' and g.user.is_manager %}
                  (<a href="{{ url_for('survey.edit', survey_id=survey.id) }}"
                      target="_blank">edit</a>)
                {% endif %}
              {% endif %}
            </span>
          </li>
        {% endif %}

      {% endfor %}

      </ul>
    </div>
  </td>
</tr>
{% endfor %}
</table>
