
{% macro render_field(field) %}

  <label for="{{ field.id }}">
    {{ field.label.text|safe }}
    {% if field.flags.required %}
      <span class="required">*</span>
    {% endif %}
  </label>
  <div class="field">
    {{ field(**kwargs) }}
    {% if field.errors %}
      <div class="error">{{ field.errors[0] }}</div>{% endif %}
  </div>

{% endmacro %}

{% macro textarea_readonly(field, class_='') %}
      <div class="print-only {{ class_ }}">
        {% if field.data %}
        {{ field.data|escape }}
        {% else %}
          <i>no answer</i>
        {% endif %}
      </div>
{% endmacro %}
