{% macro render_field(field) %}

  <label for="{{ field.id }}">
    {{ field.label.text }}
    {% if field.flags.required %}
      <span class="required">*</span>
    {% endif %}
  </label>
  <div class="field">
    {{ field(**kwargs) }}
    {% if field.errors %}
      <div class="error">{{ field.errors[0] }}</div>{% endif %}
  </div>

{% endmacro %}


{% macro render_other(field) %}

  <div class="other">
    {{ field(class_='tagit') }}
  </div>

{% endmacro %}


{% macro render_label(field) %}

  {{ field.label.text }}

{% endmacro %}


{% macro render_bool(field) %}

  {% if field %}
    Yes
  {% else %}
    No
  {% endif %}

{% endmacro %}