{% extends "layout.html" %}

{% block content %}
{% set active_page = 'contacts' -%}
{% include "navigation.html" %}
{% set url = url_for('auth.register', token=g.user.token) %}

<h2>Sending on the Self-assessment to your contacts and collecting their responses</h2>
<p>This platform is designed in such a way that country coordinators can easily
use it to gather responses from their contacts (e.g. researchers, EPAs, NGOs)
within their country.<br /><br />
Simply copy and send (e.g. via Email) the generated URL below to your contacts:
</p>

<p class="clippy">

  <a href="{{ config.HOSTNAME }}{{ url }}">{{ config.HOSTNAME }}{{ url }}</a>

     <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
            width="110"
            height="14"
            id="clippy" >
    <param name="movie" value="../static/clippy.swf"/>
    <param name="allowScriptAccess" value="always" />
    <param name="quality" value="high" />
    <param name="scale" value="noscale" />
    <param NAME="FlashVars" value="text={{ config.HOSTNAME }}{{ url }}">
    <param name="bgcolor" value="#f9f9f9">
    <embed src="../static/clippy.swf"
           width="110"
           height="14"
           name="clippy"
           quality="high"
           allowScriptAccess="always"
           type="application/x-shockwave-flash"
           pluginspage="http://www.macromedia.com/go/getflashplayer"
           FlashVars="text={{ config.HOSTNAME }}{{ url }}"
           bgcolor="#f9f9f9"
    />
    </object>
</p>

<p>
  Your contacts can only access and fill-in the survey using that URL.
  Their responses will be listed below, grouped by questions, so that you can more
  easily compile the final version of the Self-assessment
  and submit it to the European Environment Agency (EEA).
</p>
<h2>Responses received so far from your country contacts</h2>


{% set exclude = ('csrf_token', 'user', 'for_eea', 'date_created', 'date_saved', 'draft', 'country') %}
{% set groupby = 'user' %}
{% include '_answers.html' with context %}

</table>


{% endblock %}