{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field, render_other %}


{% block content %}

<form method="POST" enctype="multipart/form-data" class="ecoAsVir">

  <fieldset>

    <legend>Part I: Assessing statements</legend>

    <div class="row">
      {{ render_field(form.lead_organisation) }}
    </div>

    <div class="row">
      {{ render_field(form.organisations, class_='tagit') }}
    </div>

    <div class="row">
      {{ render_field(form.public_awareness) }}
    </div>

    <div class="row">
      {{ render_field(form.adaptation_need, class_='tagit') }}
    </div>

    <div class="row">
      {{ render_field(form.triggers) }}

      <div class="other">
        <a class="add-item" data-title="Add trigger">
          Add trigger</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.willingness, class_='tagit') }}
    </div>

    <div class="row">
      {{ render_field(form.knowledge) }}
    </div>

    <div class="row">
      {{ render_field(form.uncertainties) }}
    </div>

    <div class="row">
      {{ render_field(form.objectives) }}
    </div>

    <div class="row">
      {{ render_field(form.integration) }}
    </div>

    <div class="row">
      {{ render_field(form.integration_examples) }}
    </div>

    <div class="row">
      {{ render_field(form.mitigation) }}
    </div>

    <div class="row">
      {{ render_field(form.mitigation_examples) }}
    </div>

    <div class="row">
      {{ render_field(form.transnational_cooperation) }}
    </div>

    <div class="row">
      {{ render_field(form.transnational_cooperation_examples) }}
    </div>

    <div class="row">
      {{ render_field(form.barriers) }}
     <div class="other">
        <a class="add-item" data-title="Add barrier">
          Add barrier</a>
      </div>
    </div>

    <div class="row lastOfType">
      {{ render_field(form.part1_comments) }}
    </div>

  </fieldset>
  <fieldset>

    <legend>Part II: Assessing the adaptation policy process</legend>

    <div class="row">
      {{ render_field(form.process_stage) }}
    </div>

    <div class="row">
      {{ render_field(form.horizontal_integration) }}
    </div>

    <div class="row">
      {{ render_field(form.vertical_integration) }}
    </div>

    <div class="row">
      {{ render_field(form.horizontal_coordination) }}
    </div>

    <div class="row">
      {{ render_field(form.vertical_coordination) }}
    </div>

    <div class="row">
      {{ render_field(form.crucial_in_coordination) }}
    </div>

    <div class="row">
      {{ render_field(form.challenging_in_coordination) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment_scale) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment_subnational_info) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment_subnational_files) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment_coordination) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment_methodological_approach) }}
    </div>

    <div class="row">
      {{ render_field(form.change_adaptation_costs) }}
    </div>

    <div class="row">
      {{ render_field(form.needed_info) }}
      <div class="other">
        <a class="add-item" data-title="Add more info">
          Add more info</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.assessment_update) }}
    </div>

    <div class="row">
      {{ render_field(form.assessment_update_info) }}
    </div>

    <div class="row">
      {{ render_field(form.adaptation_options) }}
    </div>

    <div class="row">
      {{ render_field(form.adaptation_scale) }}
      <div class="other">
        <a class="add-item" data-title="Add more adaptation scale">
          Add more adaptation scale</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.identified_options) }}
      <div class="other">
        <a class="add-item" data-title="Add more identified options">
          Add more identified options</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.adaptation_actions) }}
      <div class="other">
        <a class="add-item" data-title="Add more adaptation actions">
          Add more adaptation actions</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.prioritised_options) }}
    </div>

    <div class="row">
      {{ render_field(form.options_methodological) }}
    </div>

    <div class="row">
      {{ render_field(form.action_plan_info) }}
    </div>

    <div class="row">
      {{ render_field(form.action_plan_files) }}
    </div>

    <div class="row">
      {{ render_field(form.practice_example) }}
    </div>

    <div class="row">
      {{ render_field(form.integrating_plans) }}
    </div>

    <div class="row">
      {{ form.monitor_report_evaluate }}
    </div>

    <div class="row">
      {{ render_field(form.part2_comments) }}
    </div>

    <div class="row lastOfType">
      {{ render_field(form.part2_files) }}
    </div>

  </fieldset>
  <fieldset>

    <legend>Part III: Level of adaptation and policy instruments in sectors</legend>

    <div class="row">
      {{ form.sectors }}
    </div>

    <div class="row">
      {{ render_field(form.instruments) }}
    </div>

    <div class="row">
      {{ form.main_instruments }}
      <div class="other">
        <a href="" class="matrix-other main-instruments-other"
           data-name="main_instruments"
           data-fields='["agriculture", "forestry", "biodiversity",
                         "human_health", "water", "marine_fisheries", "coastal_areas", "mountain_areas", "tourism", "transport", "energy", "built_environment",
                         "spatial_planning", "civil_protection", "industry",
                         "business_services", "financial_insurance",
                         "cultural_heritage"]'>
          Add another</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.main_instruments_considered) }}
    </div>

    <div class="row">
      {{ form.financing_mechanisms }}

      <div class="other">
        <a href="" class="matrix-other financing_mechanisms-other"
           data-name="financing_mechanisms"
           data-fields='["agriculture", "forestry", "biodiversity",
                         "human_health", "water", "marine_fisheries", "coastal_areas", "mountain_areas", "tourism", "transport", "energy", "built_environment",
                         "spatial_planning", "civil_protection", "industry",
                         "business_services", "financial_insurance",
                         "cultural_heritage"]'>
          Add another</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.part3_comments) }}
    </div>

    <div class="row">
      {{ render_field(form.transboundary_issues) }}
    </div>

    <div class="row">
      {{ render_field(form.regions_coordination) }}
    </div>

  </fieldset>

  <fieldset>

    <legend>Part IV: Involvement of stakeholders </legend>

    <div class="row">
      {{ render_field(form.stakeholders_involved) }}
    </div>

    <div class="row">
      {{ render_field(form.stakeholders_contribution) }}
    </div>

    <div class="row">
      {{ form.development_involvement }}
      <div class="other">
        <a href="" class="matrix-other"
           data-name="development_involvement"
           data-fields='["information_given", "information_gathered",
                         "consultation", "active_involvement", "partnerships", "empowerment"]'>
          Add another</a>
      </div>
    </div>

    <div class="row">
      {{ form.implementation_involvement }}
      <div class="other">
        <a href="" class="matrix-other"
           data-name="implementation_involvement"
           data-fields='["information_given", "information_gathered",
                         "consultation", "active_involvement", "partnerships", "empowerment"]'>
          Add another</a>
      </div>
    </div>

    <div class="row">
      {{ form.monitoring_involvement }}
      <div class="other">
        <a href="" class="matrix-other"
           data-name="monitoring_involvement"
           data-fields='["information_given", "information_gathered",
                         "consultation", "active_involvement", "partnerships", "empowerment"]'>
          Add another</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.stakeholders_success) }}
    </div>

    <div class="row">
      {{ render_field(form.part4_comments) }}
    </div>

    <div class="row">
      {{ render_field(form.part4_comments) }}
    </div>

    <div class="row">
      {{ render_field(form.part4_files) }}
    </div>

  </fieldset>

  <fieldset>

    <legend>Part V: Open questions on next steps</legend>

    <div class="row">
      {{ render_field(form.next_step_vulnerability) }}
    </div>

    <div class="row">
      {{ render_field(form.next_step_legislation) }}
    </div>

    <div class="row">
      {{ render_field(form.next_step_implementation) }}
    </div>

    <div class="row">
      {{ render_field(form.next_step_monitoring) }}
    </div>

    <div class="row">
      {{ render_field(form.next_step_strategy) }}
    </div>

    <div class="row">
      {{ render_field(form.next_step_others) }}
    </div>

    <div class="row">
      {{ render_field(form.adaptation_key_issues) }}
    </div>

    <div class="row">
      {{ render_field(form.adaptation_support_eu_level) }}
    </div>

  </fieldset>

  <div class="row lastOfType">
    <button name="draft" value="y" type="submit">Save Draft</button>
    <button name="draft" value="" type="submit">Save Final</button>
  </div>

</form>

{% endblock %}
