{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field, render_other %}

{% block content %}

  {% set active_page = 'assessment' -%}
  {% include "navigation.html" %}


<form method="POST" enctype="multipart/form-data" class="ecoAsVir {{ form.draft.data and "draft" or "final" }}">
  <fieldset class="meta-info">
    {% if not form.draft.data %}
      <p class="closed">
        This self-assessment has been submitted. You can no longer contribute to this self-assessment.
        <br />
        You can <a href="{{ url_for("survey.export", survey_id=survey_id) }}">download a PDF</a> of your answers.
      </p>
    {% endif %}

    <div class="row">
      {{ render_field(form.lead_organisation) }}
    </div>

    <div class="row">
      <p>We encourage involving other stakeholders with whom you work in filling out this self-assessment (e.g. researchers, EPAs, NGOs).</p>
      {{ render_field(form.organisations, class_='tagit') }}
    </div>

    <div class="row has-follower hide">
      <p>You can <a href="{{ url_for("survey.download_docx") }}">download the questionnaire</a>
      as a Word file, but we kindly ask you to submit it online.</p>
      <p>Here you can find the glossary of related terms:
      <a href="{{ url_for("survey.glossary") }}" target="_blank">online</a>,
      <a href="{{ url_for("survey.download_glossary", fmt="docx") }}">DOCX</a>
      or <a href="{{ url_for("survey.download_glossary", fmt="pdf") }}">PDF</a>.</p>
    </div>
  </fieldset>

  <fieldset>
    <legend>Part I: General statements on adaptation</legend>

    <div class="row question">
      {{ render_field(form.public_awareness) }}
    </div>

    <div class="row question">
      {{ render_field(form.adaptation_need) }}
    </div>

    <div class="row question">
      {{ render_field(form.triggers) }}

      <div class="other">
        <a class="add-item" data-title="Add trigger">
          Add other trigger</a>
      </div>
    </div>

    <div class="row question">
      {{ render_field(form.willingness) }}
    </div>

    <div class="row question">
      {{ render_field(form.knowledge) }}
    </div>

    <div class="row question">
      {{ render_field(form.uncertainties) }}
    </div>

    <div class="row question">
      {{ render_field(form.objectives) }}
    </div>

    <div class="row has-follower question">
      {{ render_field(form.integration) }}
    </div>

    <div class="row nested question">
      {{ render_field(form.integration_examples) }}
    </div>

    <div class="row has-follower question">
      {{ render_field(form.mitigation) }}
    </div>

    <div class="row nested question">
      {{ render_field(form.mitigation_examples) }}
    </div>

    <div class="row has-follower question">
      {{ render_field(form.transnational_cooperation) }}
    </div>

    <div class="row nested question">
      {{ render_field(form.transnational_cooperation_examples) }}
    </div>

    <div class="row question">
      {{ render_field(form.barriers) }}
     <div class="other">
        <a class="add-item" data-title="Add barrier">
          Add barrier</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.part1_comments) }}
    </div>

    <div class="row lastOfType">
      {{ render_field(form.part1_files) }}
    </div>

  </fieldset>
  <fieldset>

    <legend>Part II: The adaptation policy process</legend>

    <div class="row question">
      {{ render_field(form.process_stage) }}
    </div>

    <p><strong>Prepare the ground for adaptation</strong></p>

    <div class="row question">
      {{ render_field(form.horizontal_integration) }}
    </div>

    <div class="row question">
      {{ render_field(form.vertical_integration) }}
    </div>

    <div class="row has-follower">
      <label>15. Please give a short description of the horizontal and vertical coordination of adaptation policy in your country. Please also indicate who has been involved and what mechanism for coordination has been used (please also indicate if these mechanisms have changed in the different stages of the process, e.g. from formulation to implementation).
      </label>
    </div>

    <div class="row has-follower nested question">
      {{ render_field(form.horizontal_coordination) }}
    </div>

    <div class="row has-follower nested question">
      {{ render_field(form.vertical_coordination) }}
    </div>

    <div class="row has-follower nested question">
      {{ render_field(form.crucial_in_coordination) }}
    </div>

    <div class="row nested question">
      {{ render_field(form.challenging_in_coordination) }}
    </div>

    <p><strong>Identify risks and explore options</strong></p>

    <div class="row has-follower question">
      {{ render_field(form.assessment) }}
    </div>

    <div class="row has-follower nested question">
      {{ render_field(form.assessment_scale) }}
      <div class="other">
        <a class="add-item" data-title="Add other scale">
          Add other scale</a>
      </div>
    </div>

    <div class="row has-follower nested2 question">
      <label>If available at sub-national or trans-national level
      (e.g. Länder, provinces, regions, communities, river-basin), please provide references to relevant documents:</label>
      {{ render_field(form.assessment_subnational_info) }}
    </div>

    <div class="row nested2 question">
      {{ render_field(form.assessment_subnational_files) }}
    </div>

    <div class="row question">
      {{ form.sectors_assessments }}

      <div class="other">
        <a href="" class="matrix-other sectors_assessments-other"
           data-name="sectors_assessments"
           data-fields='["national", "public_sector", "private_sector"]'>
          Add another</a>
      </div>
    </div>

    <div class="row has-follower">
      <label>
        18. In relation to the national assessment, how is/was the risk or vulnerability assessment process coordinated (e.g. who commissioned the work; who carried it out)? What methodological approach (e.g. literature review, modelling, expert appraisal) has been used? How have uncertainties been addressed?
      </label>
    </div>
    <div class="row has-follower nested question">
      {{ render_field(form.assessment_coordination) }}
    </div>
    <div class="row nested question">
      {{ render_field(form.assessment_methodological_approach) }}
    </div>

    <div class="row question">
      {{ render_field(form.change_adaptation_costs) }}
    </div>

    <div class="row question">
      {{ render_field(form.needed_info) }}
      <div class="other">
        <a class="add-item" data-title="Add more info">
          Add more info</a>
      </div>
    </div>

    <div class="row has-follower question">
      {{ render_field(form.assessment_update) }}
    </div>

    <div class="row question">
      {{ render_field(form.assessment_update_info) }}
    </div>

    <div class="row has-follower question">
      {{ render_field(form.adaptation_options) }}
    </div>

    <div class="row nested question">
      {{ render_field(form.adaptation_scale) }}
      <div class="other">
        <a class="add-item" data-title="Add more adaptation scale">
          Add other scale</a>
      </div>
    </div>

    <div class="row question">
      {{ render_field(form.identified_options) }}
      <div class="other">
        <a class="add-item" data-title="Add more identified options">
          Add more methodological approaches</a>
      </div>
    </div>

    <div class="row question">
      {{ render_field(form.adaptation_actions) }}
      <div class="other">
        <a class="add-item" data-title="Add more adaptation actions">
          Add other options</a>
      </div>
    </div>

    <div class="row question">
      {{ render_field(form.prioritised_options) }}
    </div>

    <div class="row question">
      {{ render_field(form.options_methodological) }}
    </div>

    <div class="row question">
      {{ render_field(form.action_plan_info) }}
      <br />
      {{ render_field(form.action_plan_files) }}
    </div>

    <p><strong>Implementation, monitoring and evaluation</strong></p>

    <div class="row question">
      {{ render_field(form.practice_example) }}
    </div>

    <div class="row question">
      {{ render_field(form.integrating_plans) }}
    </div>

    <div class="row question">
      {{ form.monitor_report_evaluate }}
    </div>

    <div class="row">
      {{ render_field(form.part2_comments) }}
    </div>

    <div class="row lastOfType">
      {{ render_field(form.part2_files) }}
    </div>

  </fieldset>
  <fieldset>

    <legend>Part III: Level of adaptation and policy instruments in sectors</legend>

    <div class="row question">
      <label>31. Please highlight the relevant sectors/areas in your country and assess the current state of adaptation at various levels:</label>
      <p>Please score the state of adaptation using the following scale:</p>
        <table><tr><th>Selected Value</th><th>Meaning</th><tr/>
        <tr><td class="term">0 </td><td class="definition">= adaptation is not relevant for my country                                         </tr>
        <tr><td class="term">1 </td><td class="definition">= need for adaptation not recognised and no measures implemented yet                </tr>
        <tr><td class="term">2 </td><td class="definition">= coordination activities for adaptation started                                    </tr>
        <tr><td class="term">3 </td><td class="definition">= some adaptation measures identified for the sector but not yet implemented        </tr>
        <tr><td class="term">4 </td><td class="definition">= portfolio of adaptation measures identified and implementation (of some) launched </tr>
        <tr><td class="term">5 </td><td class="definition">= portfolio of adaptation measures implemented                                      </tr>
        <tr><td class="term">6 </td><td class="definition">= portfolio of adaptation measures in place and monitored/evaluated                 </tr>
        </table>
      <p>Use the arrows or the keyboard to input digits from 0 to 6.</p>
      {{ form.sectors }}
<!--
# TODO: copy widgets (tr) instead of using checkboxes
<div class="other">
        <a href="" class="matrix-other sectors-other"
           data-name="sectors"
           data-fields='["national", "sub_national", "local", "priority_sectors", "examples"]'>
          Add another</a>
      </div>-->
    </div>

    <div class="row question">
      {{ render_field(form.instruments) }}
    </div>

    <div class="row special question">
      {{ form.main_instruments }}
      <div class="other">
        <a href="" class="matrix-other main-instruments-other"
           data-name="main_instruments"
           data-fields='["agriculture", "forestry", "biodiversity",
                         "human_health", "water", "marine_fisheries", "coastal_areas", "mountain_areas", "tourism", "transport", "energy", "built_environment",
                         "spatial_planning", "civil_protection", "industry",
                         "business_services", "financial_insurance",
                         "cultural_heritage"]'>
          Add another</a>
      </div>
    </div>

    <div class="row question">
      {{ render_field(form.main_instruments_considered) }}
    </div>

    <div class="row special question">
      {{ form.financing_mechanisms }}

      <div class="other">
        <a href="" class="matrix-other financing_mechanisms-other"
           data-name="financing_mechanisms"
           data-fields='["agriculture", "forestry", "biodiversity",
                         "human_health", "water", "marine_fisheries", "coastal_areas", "mountain_areas", "tourism", "transport", "energy", "built_environment",
                         "spatial_planning", "civil_protection", "industry",
                         "business_services", "financial_insurance",
                         "cultural_heritage"]'>
          Add another</a>
      </div>
    </div>

    <div class="row">
      {{ render_field(form.part3_comments) }}
    </div>

    <div class="row">
      {{ render_field(form.part3_files) }}
    </div>

    <div class="row question">
      {{ render_field(form.transboundary_issues) }}
    </div>

    <div class="row question">
      {{ render_field(form.regions_coordination) }}
    </div>

  </fieldset>

  <fieldset>

    <legend>Part IV: Involvement of stakeholders </legend>

    <div class="row question">
      {{ render_field(form.stakeholders_involved) }}
    </div>

    <div class="row question">
      {{ render_field(form.stakeholders_contribution) }}
    </div>

    <div class="row special question">
        <label>40. The three tables below allow you to identify the stakeholders involved and the format of their involvement for the development (1st table), implementation (2nd table) and monitoring and evaluation (3rd table) phases of the adaptation process.
</label>

<br />Level of involvement:
<br />

    <table id="level-involvement">
    <tr><td class="term-left">Information given </td><td class="definition"> information has been provided to stakeholders (e.g. web-sites, newsletter, reports, informative meetings)</td></tr>
    <tr><td class="term-left">Information gathered </td><td class="definition"> information has been collected from stakeholders (e.g. online-survey)</td></tr>
    <tr><td class="term-left">Consultation </td><td class="definition"> feedback on policy draft proposals has been obtained from stakeholders (e.g. written feedback on policy drafts)</td></tr>
    <tr><td class="term-left">Active involvement </td><td class="definition">stakeholders have actively been involved in, and have had the possibility to shape decision-making in the adaptation policy (e.g. advisory committees)</td></tr>
    <tr><td class="term-left">Partnerships </td><td class="definition">decision-making power is redistributed through negotiation between responsible authority and stakeholders</td></tr>
    <tr><td class="term-left">Empowerment </td><td class="definition">final decision is in the hands of the stakeholders </td></tr>
    </table>
    <br />

      {{ form.development_involvement }}
      <div class="other">
        <a href="" class="matrix-other"
           data-name="development_involvement"
           data-fields='["information_given", "information_gathered",
                         "consultation", "active_involvement", "partnerships", "empowerment"]'>
          Add another</a>
      </div>
    </div>

    <div class="row special question">
      {{ form.implementation_involvement }}
      <div class="other">
        <a href="" class="matrix-other"
           data-name="implementation_involvement"
           data-fields='["information_given", "information_gathered",
                         "consultation", "active_involvement", "partnerships", "empowerment"]'>
          Add another</a>
      </div>
    </div>

    <div class="row special question">
      {{ form.monitoring_involvement }}
      <div class="other">
        <a href="" class="matrix-other"
           data-name="monitoring_involvement"
           data-fields='["information_given", "information_gathered",
                         "consultation", "active_involvement", "partnerships", "empowerment"]'>
          Add another</a>
      </div>
    </div>

    <div class="row question">
      {{ render_field(form.stakeholders_success) }}
    </div>

    <div class="row">
      {{ render_field(form.part4_comments) }}
    </div>

    <div class="row">
      {{ render_field(form.part4_files) }}
    </div>

  </fieldset>

  <fieldset>

    <legend>Part V: Open questions on next steps</legend>

    <div class="row has-follower">
      <label>42. What are the next steps your country is planning? Please provide information on the following issues and the related timing (addressing both national and sub-national levels):
      </label>
    </div>
    <div class="row nested has-follower question">
      {{ render_field(form.next_step_vulnerability) }}
    </div>

    <div class="row nested has-follower question">
      {{ render_field(form.next_step_legislation) }}
    </div>

    <div class="row nested has-follower question">
      {{ render_field(form.next_step_implementation) }}
    </div>

    <div class="row nested has-follower question">
      {{ render_field(form.next_step_monitoring) }}
    </div>

    <div class="row nested has-follower question">
      {{ render_field(form.next_step_strategy) }}
    </div>

    <div class="row nested question">
      {{ render_field(form.next_step_others) }}
    </div>

    <div class="row question">
      {{ render_field(form.adaptation_key_issues) }}
    </div>

    <div class="row lastOfType question">
      {{ render_field(form.adaptation_support_eu_level) }}
    </div>

  </fieldset>

  <fieldset class="meta-info with-legend">
    <legend>Thank you for your contribution!</legend>
    <div class="row">
      We are looking forward to getting your feedback on this self-assessment. Thanks a lot.
    </div>

    <div class="row">
      {{ render_field(form.feedback) }}
    </div>

    <div class="row">
      {% if form.draft.data %}
        <span class="export">
          <input type="checkbox" name="export_pdf" value="1" /> I wish to have a PDF version of the self-assessment.
        </span><br /><br />
        <button name="draft" value="y" type="submit" class="saveDraft">Save Draft</button>
        <button name="draft" value="" type="submit" class="submitVersion spaced">Submit Final Version</button>
      {% else %}
        <p class="closed">
          This self-assessment has been submitted. You can no longer contribute to this self-assessment.
          <br />
          You can <a href="{{ url_for("survey.export", survey_id=survey_id) }}">download a PDF</a> of your answers.
        </p>
      {% endif %}
    </div>
  </fieldset>

</form>

<div class="scroll-top">
  <span><a id="scroll-top">Back to top </a>&uarr;</span>
  <span><a id="scroll-bottom">Go to bottom</a>&darr;</span>
</div>
{% endblock %}
