{% extends "layout.html" %}


{% block content %}
{% set active_page = 'about' -%}
{% include "navigation.html" %}
<h1>
  Welcome to the Self-assessment of the adaptation policy process in EEA member countries.
</h1>

<div class="tutorial">
  <p>
  Country coordinators are able to fill in the Self-assessment and
  submit it online to the European Environment Agency (EEA) using this online platform.
  </p><p>
  Moreover, this platform is designed in such a way that country coordinators
  can easily use it to gather responses from their contacts
  (e.g. researchers, EPAs, NGOs) within their country.
  </p><p>
  The invitation letter sent out by the EEA to its member countries
  can be downloaded as a PDF file here.
  The deadline for filling-in this Self-assessment is YY June 2013.
  </p>
</div>

<div class="tutorial">
  {% if g.user.is_coordinator %}
    {% if g.user.other_coordinators %}
      <p class="highlight">You are one of the coordinators for <span class="country">{{ COUNTRIES[g.user.country] }}</span>.
      The other coordinators are:
      <ul class="contacts">
        {% for couser in g.user.other_coordinators %}
          <li>{{ couser.first_name }} {{ couser.last_name|upper }}, {{ couser.phone_number }},
          <a href="mailto:{{ couser.email }}">{{ couser.email }}</a></li>
        {% endfor %}
      </ul>
      </p>
      <p>Anyone of you can send on this online Self-assessment to your contacts
      (e.g. researchers, EPAs, NGOs) within your country.
      In the ‘Your Contacts’ tab you will be able to see the answers provided by your contacts.
      Any of you can fill-in or edit the Self-assessment and submit the final version of it to the EEA.
      </p>
      <p>
        When one of you submit the final version of the Self-assessment to the EEA,
        the Self-assessment will be closed and none of you will be able to amend the information anymore.
      </p>
      <p>
      <strong>Therefore you will need to coordinate amongst yourselves
      and decide who of you will review the final version and submit it to the EEA.</strong>
      You can download and save a PDF file which shows all your responses after submitting.
      </p>
    {% else %}
      <p class="highlight">You are the coordinator for <span class="country">{{ COUNTRIES[g.user.country] }}</span>.</p>
      <p>You can send on this online Self-assessment to your contacts
      (e.g. researchers, EPAs, NGOs) within your country.
      In the ‘Your Contacts’ tab you will be able to see the answers provided by your contacts.
      </p>
      <p>
        You can fill-in or edit the Self-assessment and submit the
        final version of it to the EEA. When you submit the final version
        of the Self-assessment to the EEA, the Self-assessment will be closed
        and you will not be able to amend the information anymore.
        You can download and save a PDF file which shows all your responses after submitting. 
      </p>
    {% endif %}
    <h3>Sending on the Self-assessment</h3>
    <p>
      This platform is designed in such a way that country coordinators
      can easily use it to gather responses from their contacts
      (e.g. researchers, EPAs, NGOs) within their country.
      Please use "Your Contacts" tab to send on the Self-assessment and gather responses.
      <br />You will see the responses from your contacts grouped by question in the "Your Contacts" tab.
    </p>
    <p>
      Please copy and send (e.g. via Email) the generated URL to your contacts.
      Your contacts can only access and fill-in the survey using that URL
      and a password is not needed in this case.
    </p>
    <h3>Submitting the final version of the Self-assessment to the European Environment Agency (EEA)</h3>
    <p>
      Use the "Self-Assessment" tab to fill-in the Self-assessment for the EEA.
      You can save drafts of the Self-assessment and edit it at any time,
      but once you <strong>Submit the final version of the Self-assessment</strong> to the EEA,
      the Self-assessment will be definitively closed for editing.
      <br />
      Each time you save a draft of the Self-assessment, you can also download
      a PDF file of it, so that you can print it and send it to colleagues
      if necessary.
      When you submit the final version of the Self-assessment to the EEA,
      you can also download and save a PDF file of it.
    </p>
  {% else %}
      <p class="highlight">You are a country contact for <span class="country">{{ COUNTRIES[g.user.country] }}</span>.
      This Self-assessment has been sent out by the European Environment Agency (EEA)
      to its member countries. You have received this Self-assessment from your country coordinator.
      Your answers to the questions of the Self-assessment will be sent
      to your country coordinator who will coordinate all answers
      from country contacts and submit the final version to the EEA.
      </p>
      <p>
        <a href="{{ url_for("survey.edit") }}">Proceed to self-assessment &rarr;</a>
      </p>
  {% endif %}
</div>

{% endblock %}