{% extends "frame" %}
{% from "_bits.html" import flash_messages %}

{% block frame_title %} {% block title %}{% endblock %}{% endblock %}

    {% block head %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    {% assets "packed_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "packed_print_css" %}
      <link rel="stylesheet" media="print" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "packed_ie7_css" %}
     <!--[if IE 7]>
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      <![endif]-->
    {% endassets %}
    {% assets "packed_ie8_css" %}
     <!--[if IE 8]>
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      <![endif]-->
    {% endassets %}
    {% assets "packed_ie9_css" %}
     <!--[if IE 9]>
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      <![endif]-->
    {% endassets %}

    {% assets "packed_js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}{% endblock %}


    {% endblock head %}

    {% block login %}
    {% if g.user.is_anonymous() %}
      <a href="{{ url_for('auth.login') }}">login</a>
      {% else %}
      <a href="{{ url_for('auth.logout') }}">logout ({{ g.user.id }})</a>
      {% endif %}
    {% endblock %}

    {% block frame_content %}
    <div class="message information">
      {% block flash_messages %} {{ flash_messages() }} {% endblock %}
    </div>

    <!--[if lte IE 7]>
    <div class="message ie-error-message">
      <p class="alert error">
      Your browser is older than 2010 and it is no longer fully supported.
      You will not be able to use all of the features for answering some of the questions in this self-assessment. <br />
      Please upgrade to latest <a class="firefox" href="http://www.getfirefox.com" target="_blank">Mozilla Firefox</a>,
      <a class="chrome" href="http://www.google.com/chrome/" target="_blank">Google Chrome</a> or
      <a class="ie" href="http://www.microsoft.com/windows/ie/" target="_blank">Internet Explorer</a>.
      </p>
    </div>
    <![endif]-->

    {% block content %}{% endblock %}
    {% endblock frame_content %}
