{% extends "frame" %}
{% from "_bits.html" import flash_messages %}

{% block frame_title %} {% block title %}{% endblock %}{% endblock %}

    {% block head %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    {% assets "packed_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "packed_print_css" %}
      <link rel="stylesheet" media="print" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "packed_ie_css" %}
     <!--[if IE 7]>
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      <![endif]-->
    {% endassets %}

    {% assets "packed_js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block scripts %}{% endblock %}


    {% endblock head %}

    {% block login %}
    {% if g.user.is_anonymous() %}
      <a href="{{ url_for('auth.login') }}">login</a>
      {% else %}
      <a href="{{ url_for('auth.logout') }}">logout ({{ g.user.id }})</a>
      {% endif %}
    {% endblock %}

    {% block frame_content %}
    <div class="message information">
      {% block flash_messages %} {{ flash_messages() }} {% endblock %}
    </div>

    <!--[if lte IE 7]>
    <div class="message ie-error-message">
      Your browser is not supported. Please upgrade to <a class=”firefox” href=”http://www.getfirefox.com ” target=”_new”>Mozilla Firefox</a>, <a class=”chrome” href=”http://www.google.com/chrome/ ” target=”_new”>Chrome</a>,<a class=”ie” href=”http://www.microsoft.com/windows/ie/ ” target=”_new”>IE</a>
    </div>
    <![endif]-->

    {% block content %}{% endblock %}
    {% endblock frame_content %}
