{% extends "layout.html" %}


{% block flash_messages %}
  <div class="login-message">{{ flash_messages() }}</div>
{% endblock %}


{% block content %}

<div class="login-title">Login credentials</div>

<div class="login-container">

  <p>You will need to use your Eionet credentials (8-letter user ID)</p>
  <br />

  <form method="POST">
    {{ form.csrf_token }}
    <div class="row">
      {{ form.username.label }} {{ form.username(size=20) }}
    </div>
    <div class="row">
      {{ form.password.label }} {{ form.password(size=20) }}
    </div>
    <input type="submit" value="Go" />
  </form>
  <br />
  <p>Forgot your Eionet user ID or password?
  <a href="http://www.eionet.europa.eu/password-reset" target="_blank">Reset it!</a></p>

  <div class="highlight">
  <p>For further assistance please contact Stéphane Isoard (<a href="mailto:stephane.isoard@eea.europa.eu">stephane.isoard@eea.europa.eu</a>)
  or André Jol (<a href="mailto:andre.jol@eea.europa.eu">andre.jol@eea.europa.eu</a>) at the EEA.<br />
  For technical/access issues please use the following email address: <a href="mailto:helpdesk@eaudeweb.ro">helpdesk@eaudeweb.ro</a>.</p>
  </div>

</div>


{% endblock content %}