<div id="tabbedmenu">
  {% set navigation_bar = [
      (url_for('survey.home'), 'about', 'About this Self-Assessment', 'About', ''),
      (url_for('survey.contacts'), 'contacts', 'Your Contacts', 'Your Contacts', g.user.is_coordinator),
      (url_for('survey.edit'), 'assessment', 'Self-Assessment', 'Self-Assessment', ''),
      (url_for('survey.dashboard'), 'dashboard', 'Dashboard', 'Dashboard', g.user.is_eea_admin),
  ] -%}
  {% set active_page = active_page|default('unset') -%}
  <ul id="navigation">
  {% for href, id, title, caption, condition in navigation_bar %}
    {% if condition == '' or condition %}
      <li {% if id == active_page %}id="currenttab"{% endif %}>
        <a href="{{ href|e }}" title="{{ title }}">{{ caption|e }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<div style="clear: both"></div>