{% extends "layout.html" %}


{% block flash_messages %}
  <div class="login-message">{{ flash_messages() }}</div>
{% endblock %}


{% block content %}

<div class="login-title">Who are you?</div>

<div class="login-container">

  <form method="POST">
    {{ form.csrf_token }}
    <div class="row">
      {{ form.first_name.label }} {{ form.first_name(size=20) }}
    </div>
    <div class="row">
      {{ form.last_name.label }} {{ form.last_name(size=20) }}
    </div>
    <div class="row">
      {{ form.email.label }} {{ form.email(size=20) }}
    </div>
    <div class="row">
      {{ form.phone_number.label }} {{ form.phone_number(size=20) }}
    </div>
    <div class="row">
      {{ form.organisation.label }} {{ form.organisation(size=20) }}
    </div>
    <input type="submit" value="Access self-assessment" />
  </form>

</div>

{% endblock content %}