{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block flash_messages %}
  <div class="login-message">{{ flash_messages() }}</div>
{% endblock %}


{% block content %}

<div class="login-title">Who are you?</div>

<div class="login-container">

  <form method="POST">
    {{ form.csrf_token }}
    <div class="row">
      {{ render_field(form.first_name) }}
    </div>
    <div class="row">
      {{ render_field(form.last_name) }}
    </div>
    <div class="row">
      {{ render_field(form.email) }}
    </div>
    <div class="row">
      {{ render_field(form.phone_number) }}
    </div>
    <div class="row">
      {{ render_field(form.organisation) }}
    </div>
    <input type="submit" value="Access self-assessment" />
  </form>

</div>

<div class="highlight">
  <p>For further assistance please contact Stéphane Isoard (<a href="mailto:stephane.isoard@eea.europa.eu">stephane.isoard@eea.europa.eu</a>)
  or André Jol (<a href="mailto:andre.jol@eea.europa.eu">andre.jol@eea.europa.eu</a>) at the EEA.<br />
  For technical/access issues please use the following email address: <a href="mailto:helpdesk@eaudeweb.ro">helpdesk@eaudeweb.ro</a>.</p>
</div>
<br />

{% endblock content %}