<p>Dear country coordinator,</p>
<br />

<p>You are receiving this email because you are coordinating the <b>Self-assessment of the adaptation policy process in {{ COUNTRIES[survey.country] }}</b>.
</p>
<br />
<p>We are informing you that the final version of your country self-assessment has just been submitted
to the EEA by <b>{{user.first_name}} {{user.last_name|upper}}</b>, phone: {{user.phone_number}}, email: {{user.email}}<br />
The self-assessment is still available for you to see the answers -
  <a href="{{ config.HOSTNAME }}{{url_for("survey.home")}}">{{ config.HOSTNAME }}{{url_for("survey.home")}}</a>
<br />
<p>If you believe this is an error, please contact Stéphane ISOARD, stephane.isoard@eea.europa.eu</p>
<br />
<p>Have a nice day,<br />
Eionet
</p>
