
@media print {
    
    .other a, input[type="file"],
    .saveDraft, .submitVersion {
        display: none;
    }
    
    .ecoAsVir fieldset,
    .ecoAsVir .meta-info {
        border: 0px;
    }
    
    .ecoAsVir #main-instruments th,
    .ecoAsVir #financing-mechanisms th,
    .ecoAsVir .matrix th { 
        font-weight: normal;
        font-size: 11px;
    }
    
    .row {
        border-bottom: 0px;
    }
    
    /*  horizontal align for cells from table 17 and 30 */
    #sectors-assessments div,
    #monitor-report-evaluate div {
        border-bottom: 1px solid #555;
        height: 15px;
        padding-top: 5px;
    }
    
     /*   horizontal align for cells from table 33 */
    #main-instruments div,
    #main-instruments li {
        border-bottom: 1px solid #555;
        height: 85px;
    }
    
    .ecoAsVir #main-instruments .category-left div {
        padding-top: 6px;
        width: 100px;
        height: 80px;
    }
    
    .ecoAsVir .check-column li {
        border-bottom: 1px solid #555;
    }
    
        /*   horizontal align for cells from table 31 */
    #sectors div {
        border: 1px solid green;
        width: 110px;
    }
    
    #sectors li {
        /*border: 1px solid #ddd;*/
        padding: 0px;
    }
    
    #sectors-priority_sectors li {
        /*outline: 1px solid red;*/
        border-bottom: 0px;
        padding-top: 0px;
    }
 
}