
@page {
    size: A4;
    layout: landscape;
}

a:link, a:visited {
    color: #520;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
}

#middle_port a:link:after,
#middle_port a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}

.other a,
input[type="file"],
.saveDraft,
.submitVersion,
#toolribbon,
#header,
#menunav,
#breadcrumbtrail,
#tabbedmenu,
#footer,
.hide,
.export {
    display: none;
}

#header .page_title ,
#header .page_subtitle {
    display: block;
    color: #333;
}

.ecoAsVir .meta-info,
.ecoAsVir fieldset,
#outer_wrapper,
.row {
    border: 0px;
}

.meta-info .row,
.ecoAsVir fieldset {
    padding: 0px;
}

.ecoAsVir legend {
    margin-left: -15px;
}

body,
#outer_wrapper,
#container,
#middle_port,
.ecoAsVir {
    width: auto;
    font-size: 12pt;
}

.ecoAsVir #main-instruments th,
.ecoAsVir #financing-mechanisms th,
.ecoAsVir .matrix th { 
    font-weight: normal;
    font-size: 11px;
}

.ecoAsVir .matrix {
    margin-left: 0px;
    break-inside: avoid !important; 
}

.ecoAsVir .meta-info,
.ecoAsVir .even ul,
.ecoAsVir th.even,
.ecoAsVir .odd ul,
.ecoAsVir th.odd,
.ecoAsVir .matrix .category-left div,
.ecoAsVir #main-instruments .category-left div {
    background: #fff;
    font-weight: normal;
    font-size: 11px;
}

.ecoAsVir .matrix .category-left div,
.ecoAsVir .matrix li {
    border-bottom: 1px solid green;
}

/*  table 33, which is very wide */
.ecoAsVir #main-instruments .category-left div {
    width: 80px;
    outline: 1px solid red;
}