
a:link, a:visited {
    color: #520;
    background: transparent;
    font-weight: bold;
    text-decoration: underline;
}

#middle_port a:link:after,
#middle_port a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}


.other a,
textarea,
input[type="file"],
.saveDraft,
.submitVersion,
#toolribbon,
#header,
#menunav,
#breadcrumbtrail,
#tabbedmenu,
#footer,
.hide,
.export,
.scroll-top {
    display: none;
}

@media print {
    table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
    }
    .visible {
        display: block !important;
    }
    input[type='radio'], input[type='checkbox'] {
        vertical-align: middle;
        margin-right: 4px;
    }
    label {
        line-height: 19px;
        font-weight: normal !important;
    }
    .question > label,
    fieldset > .has-follower > label {
        font-weight: bold !important;
    }
    * {
        font-size: inherit!important;
        color: #333!important;
    }
    body {
        font-size: 12px!important;
    }
    table {
        border-collapse: collapse;
        border: 1pt solid #ddd;
    }
    .ecoAsVir .matrix li {
        width: auto;
    }
    #sectors-assessments td > div,
    #sectors-assessments td > ul > li {
        height: 14.25pt;
        overflow: hidden;
    }
    #main-instruments table td displayv,
    #main-instruments table td li {
        font-size: 75%!important;
    }
    table.matrix td > div {
        vertical-align: top;
    }
    fieldset legend {
        margin-left: 0!important;
    }
    .meta-info .highlight, button, .hide_on_print {
        display: none;
    }
    .lead_organisation {
        font-size: 150%!important;
        font-weight: bold!important;
    }
    #organisations {
        font-weight: bold!important;
        border: 0;
        width: 1000%!important;
        white-space: normal;
    }
}

.print-only {
    display: block;
}

#header .page_title ,
#header .page_subtitle {
    display: block;
    color: #333;
}

.ecoAsVir .meta-info,
.ecoAsVir fieldset,
#outer_wrapper,
.row {
    border: 0px;
}

.meta-info .row,
.ecoAsVir fieldset {
    padding: 0px;
}

.ecoAsVir legend {
    margin-left: -15px;
}

body,
#outer_wrapper,
#container,
#middle_port,
.ecoAsVir {
    width: auto;
    font-size: 12pt;
}

.ecoAsVir .matrix {
    margin-left: 0px;
    break-inside: avoid !important;
}

.ecoAsVir .matrix th {
    font-weight: normal;
    font-size: 11px;
}

.ecoAsVir .meta-info,
.ecoAsVir .even ul,
.ecoAsVir th.even,
.ecoAsVir .odd ul,
.ecoAsVir th.odd,
.ecoAsVir .matrix .category-left div,
.ecoAsVir #main-instruments .category-left div  {
    background: #fff;
    font-weight: normal;
    font-size: 11px;
}

.ecoAsVir .matrix .category-left div,
.ecoAsVir .matrix li {
    outline: 1px solid #ddd;
}

/*  table 33 and 35, which are very wide */
.ecoAsVir #main-instruments .category-left div,
.ecoAsVir #financing-mechanisms .category-left div {
    width: 70px;
    outline: 1px solid #ddd;
}

#main-instruments th,
#financing-mechanisms th {
    font-weight: normal;
    font-size: 9px;
    padding: 0;
    color: #222;
}

#financing-mechanisms div,
#financing-mechanisms li {
    height: 40px;
    padding: 8px;
}

#main-instruments .check-column,
#financing-mechanisms .check-column {
    padding: 0;
}

#main-instruments li,
#financing-mechanisms li {
    padding-left: 0;
    padding-right: 0;
}
